name: sub_merge

# 触发条件
on:
  workflow_dispatch:

  schedule:
    # - cron: '*/5 * * * *'
    # 表达式生成  https://crontab.guru/
    - cron: '0 */12 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 迁出代码
      uses: actions/checkout@v2
    - name: 安装Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: 加载缓存
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/run_in_Actions/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: 设置时区
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    - name: 安装依赖
      run: |
        pip install -r ./utils/requirements.txt
    - name: 执行任务
      run: |
        chmod +x ./utils/subconverter/subconverter && nohup ./utils/subconverter/subconverter >./subconverter.log 2>&1 &
        python ./utils/list_merge.py
    - name: copy
      run: |
        cp ./sub/sub_merge_base64.txt ./utils/subconverter/check #output ./utils/subconverter/check
    - name: base64 decode #because ./utils/subconverter/generate.ini so input ./utils/subconverter/check
      run: base64 -d ./utils/subconverter/check > ./utils/rm/url && rm ./utils/subconverter/check   #output ./utils/rm/url & delete ./utils/subconverter/check ./utils/rm/url1
    - name: remove & rename #input ./utils/rm/url
      run: cd ./utils/rm/ && sort url -o url && npm start #output ./utils/rm/out
    - name: url & https
      run: | #input ./utils/rm/out
         rm ./utils/rm/url             #delete ./utils/rm/url
         mv ./utils/rm/out ./url       #output ./url
         base64 ./url > ./utils/subconverter/base64 -w 0 #url文件base64编码引入subconverter
         sort url -o url #将url排序并修改至原文件，突出增删的节点 output ./url
    - name: long & Clash.yaml
      run: | #input ./utils/subconverter/base64
         ./utils/subconverter/subconverter -g --artifact "clash"
         #output ./utils/subconverter/Clash.yaml ./utils/subconverter/long
         mv ./utils/subconverter/Clash.yaml ./Clash.yaml || true #output ./Clash.yaml
         sed -i "s/\"%7B%22host%22:%22//g" Clash.yaml
         sed -i "s/%22%7D\"//g" Clash.yaml
         sed -i "s/\"%7B%22Host%22:%22//g" Clash.yaml
         sort -t, -k2 -k3 -k5 -k6 -u Clash.yaml -o Clash.yaml || true
         cp Clash.yaml ./utils/subconverter/
         ./utils/subconverter/subconverter -g --artifact "long"
         mv ./utils/subconverter/long ./long || true #output ./long
    - name: 提交更改
      run: |                 
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git pull origin master
        git add ./sub
        git add ./Clash.yaml
        git add ./long
        git add ./url
        git add README.md
        git commit -m "$(date '+%Y-%m-%d %H:%M:%S')合并节点"
        git push origin master
